:root {
    --header-color: white;
    --font-color: #aed3e1;
    --bg-color: #070040;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: rgb(88, 4, 4);
    display: grid;
    justify-content: center;
    grid-gap: 5px 50px;
    grid-template-columns: auto;
    grid-template-areas: "head" "members"; 
    padding: 10px;
}

header {
    margin: 0;
}

header > h1 {
    color: var(--font-color);
    font-size: 2.5rem;
    margin: 10px 0;
    text-shadow: 2px 2px 3px gray;
}

.navigation{
    position:absolute;
    top:0;
    right:0;
}

header > img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: center;
}

section > a {
    display: flex;
    font-size: 3em;
    flex-direction: row;
}

main {
    margin: 0;
}

main > section {
    margin-top: 20px;
    padding-top: 20px;
}

h3 {
    color: var(red);
    font-size: 2.5em;
    font-variant: small-caps;
}

.proj-member {
    display: flex;
    flex-direction: column;
}

.proj-member > ul {
    font-size: 3vw;
    list-style-type: circle;
    margin: 50px;
    padding-inline-start: 12px;
}

.proj-member > img {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    max-height: 300px;
    max-width: 300px;
}

#members::after {
    content: "";
    clear: both;
    display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerDiv {
position:absolute;
left: 50%;
top: 20%;
transform: translate(-50%, -20%);
width: 1000px;
}

.Short {  
    width: 100%;  
    background-color: #dc3545;  
    margin-top: 5px;  
    height: 3px;  
    color: #dc3545;  
    font-weight: 500;  
    font-size: 22px;  
}  
.Weak {  
    width: 100%;  
    background-color: #ffc107;  
    margin-top: 5px;  
    height: 3px;  
    color: #ffc107;  
    font-weight: 500;  
    font-size: 22px;  
}  
.Good {  
    width: 100%;  
    background-color: #28a745;  
    margin-top: 5px;  
    height: 3px;  
    color: #28a745;  
    font-weight: 500;  
    font-size: 22px;  
}  
.Strong {  
    width: 100%;  
    background-color: #000ed3;  
    margin-top: 5px;  
    height: 3px;  
    color: #000ed3;  
    font-weight: 500;  
    font-size: 22px;  
}  

.SignUp {
    width: 70%;
}

.SignIn {
    width: 70%;
}

.weather{
    position: absolute;
    bottom: 20%;
    left: 50%;
}

/* TODO: Add media query for 480px breakpoint */
@media screen and (min-width: 800px) {
    section > a {
        font-size: 1.5vw;
    }
    
    #proj-description {
        font-size: 2vw;
    }
    
    h2 {
        font-size: 2vw;
    }
    .proj-member {
        flex-direction: row;
    }

    .proj-member > img {
        width: 20%;
    }

    .proj-member > ul {
        font-size: 1.5vw;
    }

    .SignUp {
        width: 100%;
    }

    .SignIn {
        width: 100%;
    }


}

 
